@model IEnumerable<FinalProject_A3850.Models.MstUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUserAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUserUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSalesNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUserUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSalesNavigation.IdSales)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
