@model FinalProject_A3850.Models.MstSale

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MstSale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JumlahPenjualan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JumlahPenjualan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Komisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Komisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUserAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUserUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSales">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
